@model IEnumerable<CrowdfundingWebsites.Models.ViewModels.ProjectVm>

@{
    ViewBag.Title = "專案列表";

}

<style>
    .table > :not(caption) > * > * {
        border-bottom-width: 0px !important;
    }
</style>

<h2>專案列表</h2>
<form action="" method="get">

    類別：@Html.DropDownList("CategoryId", null, new { @class = "form-select form-select-sm me-3", style = "width:auto;display:inline-block;" })
    @*@Html.TextBox("Name", null, new { @class = " form - control form - control - sm me - 3", style = "width:auto; display: inline - block; " })*@

    <input type="submit" value="查詢" class="btn btn-success btn-sm" />
</form>


<p class="text-end">
    
    <a href="~/Companies/Index" class="btn btn-outline-success">回到首頁</a>
    <i> </i>
    @Html.ActionLink("新增專案", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table" style="border-collapse: separate; border-spacing: 3px; text-align: center;  vertical-align: middle; ">
    <tr style="padding: 5px 0px; color: #fff; background-color: #032343; ">
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingDays)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="padding: 5px 0px; color: #555; text-align: center; background-color: #F7F5F5; margin-top: 5px">
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td style="text-align: left; max-width: 25em; word-wrap: break-word; ">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingDays)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>

            <td>
                @if (@item.StatusId == null || item.StatusId == 23)
                {

                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    <i> </i>
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    <i> </i>
                    @Html.ActionLink("新增商品", "Create", "Products", new { projectId = item.Id }, new { @class = "btn btn-info btn-sm" })
                    <i> </i>
                    @Html.ActionLink("送審", "Submit", "Projects", new { projectId = item.Id }, new { @class = "btn btn-primary btn-sm" })
                }
                else
                {
                    @Html.ActionLink("新增最新消息", "Create", "News", new { ProjectId = item.Id }, new { @class = "btn btn-warning btn-sm" })
                    <i> </i>
                    @Html.ActionLink("檢視最新消息", "Index", "News", new { ProjectId = item.Id }, new { @class = "btn btn-warning btn-sm" })

                }


            </td>
        </tr>
    }

</table>
