@model CrowdfundingWebsites.Models.ViewModels.ForgetPasswordVm

@{
    string WebName = "忘記密碼";
    string WebsiteName = "忘記密碼";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@WebName</title>
    @Styles.Render("~/font/css")
    @Styles.Render("~/lib/css")
    @Styles.Render("~/Content/css")
</head>
<body>

    @using (Html.BeginForm())
    {
        <div class="container-fluid position-relative d-flex p-0">
            <!-- Spinner Start -->
            <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Spinner End -->
            <!-- Sign In Start -->
            <div class="container-fluid">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <div class="bs-c-secondary rounded p-4 p-sm-5 my-4 mx-3">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <a href="#" class="">
                                    <h3 class="bs-font-primary">@WebsiteName</h3>
                                </a>
                            </div>
                            <div class="form-floating mb-3">

                                @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", id = "floatingInput", placeholder = "帳號" } })
                                <label for="floatingInput">帳號</label>
                                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-floating mb-4">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "floatingEmail", placeholder = "Email", type="input" } })
                                <label for="floatingEmail">Email</label>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-4 text-danger"> @Html.ValidationMessage("loginError")</div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">送出</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sign In End -->
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/lib/javascript")
    @Scripts.Render("~/javascript/init")
</body>
</html>