@model CrowdfundingWebsites.Models.ViewModels.SearchProjectVm
@using CrowdfundingWebsites.Models.Infra
@{
    IEnumerable<CrowdfundingWebsites.Models.ViewModels.CategoryVm> categorieVms = ViewBag.Categories;
    IEnumerable<CrowdfundingWebsites.Models.ViewModels.ProjectCardVm> aCards = ViewBag.ActiveProjects;
    IEnumerable<CrowdfundingWebsites.Models.ViewModels.ProjectCardVm> eCards = ViewBag.EndProjects;


    var pagedInfo = (PaginationInfo)ViewBag.Pagination;

}
@section css{
    <style>
        .pagination > li:first-child > a, .pagination > li:first-child > span,
        .pagination > li:last-child > a, .pagination > li:last-child > span {
            border-radius: 0;
        }

        .font-semibold {
            font-weight: 600;
        }

        .text-sm {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    </style>
}


@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <main class="container">
        <br />

        <div class="row d-flex align-items-center justify-content-between">
            <form style="display: inline-flex;">
                <div class="p-2 d-flex col-3">
                    <label class="col-form-label col-sm-2 text-center">探索</label>
                    <div class="">
                        <select name="ProjectType" class="form-select col-sm-2" aria-label="">
                            <option value=""></option>
                            @foreach (var item in categorieVms)
                            {
                                <option value="@item.Id" @(Model.ProjectType == item.Id ? "selected" : "")>@item.Name</option>
                            }
                        </select>
                    </div>

                    @*
                        <select class="form-select mx-2" aria-label="Default select example">
                            <option selected>排序</option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    *@
                </div>

                <div class="p-2 d-inline-flex col-5 offset-3">
                    <input name="SearchValue" class="form-control me-2 offset-4" type="search" placeholder="搜尋" aria-label="Search" value="@Model.SearchValue">
                    <button class="btn btn-outline-success col-2" type="submit">搜尋</button>
                </div>
            </form>
        </div>
        <br />
        <div class="row ">
            <section>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @* 分類項目 *@
                    @foreach (var item in aCards)
                    {
                        string value = @item.SupportPercent + "%";
                        <a class="pb-14 relative h-full block" data-click-event="select_content" data-content-type="project" data-creative-slot="Home/Sprint" data-item-id="it-s-room" href="/Home/ProjectDetial?projectId=@item.Id">
                            <div class="card h-100 border-light">
                                <img src="@(@"https:\\localhost:44345\" + item.Image)" class="card-img-top" alt="@item.Title">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Title</h5>
                                </div>
                                <div class="card-footer border-light">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: @value;" aria-valuenow="@item.SupportPercent" aria-valuemin="0" aria-valuemax="100">@value</div>
                                    </div>

                                    <div class="d-flex justify-content-between mt-2">
                                        <span class="text-sm font-semibold flex-1 text-dark">
                                            NT$ @item.SupportMoney
                                        </span>
                                        <div class="d-inline-flex ">
                                            <span class="text-sm font-semibold flex items-center text-success mx-3">
                                                <i class="fa fa-user text-secondary" aria-hidden="true"></i>
                                                <span class="text-sm inline-block mr-px">@item.SupportCount</span>人
                                            </span>
                                            <span class="text-sm font-semibold flex text-success">
                                                <i class="fa fa-hourglass-half text-secondary" aria-hidden="true"></i>
                                                <span class="text-sm">@item.Days 天</span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>
                    }
                </div>
            </section>
            <br />
            @pagedInfo.RenderPager(pagedInfo.GetUrl)

        </div>
        <div class="row">
            <section>
                <hr />
                <h4>近期結束專案</h4>
                <br />
                @*成功專案，顯示已結束專案，更多按鈕直接導向探索頁面(成功專案)*@
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @foreach (var item in eCards)
                    {
                        bool isSuccess = item.SupportPercent >= 100;
                        <a class="pb-14 relative h-full block" data-click-event="select_content" data-content-type="project" data-creative-slot="Home/Sprint" data-item-id="it-s-room" href="/Home/ProjectDetial?projectId=@item.Id">
                            <div class="card h-100 border-light">
                                <img src="@(@"https:\\localhost:44345\" + item.Image)" class="card-img-top" alt="@item.Title">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Title</h5>
                                </div>
                                <div class="card-footer border-light text-end">
                                    <small class=" link-success">

                                        <span class="inline-block font-bold px-2 py-1 rounded">@item.SupportCount 人支持</span>


                                        <span class="inline-block font-bold text-xs text-white px-2 py-1 rounded @(isSuccess ? "bg-success" :"bg-warning") ">@(isSuccess? "集資成功" : "未達標" )</span>
                                    </small>
                                    <br />
                                    <small class="link-secondary">結束於 @item.FinishDates.ToShortDateString() </small>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </section>
        </div>

    </main>

}
@section scripts{
    <script>
        $(document).ready(function () {
            $("li.page-item a").click(function (e) {
                e.preventDefault();
                var pType = $("select[name='ProjectType']").val();
                var sValue = $("input[name='SearchValue']").val();
                var originalHref = $(this).attr("href");
                var newHref = originalHref + `&ProjectType=${pType}&SearchValue=${sValue}`;
                window.location.href = newHref;
            });
        });

    </script>

}