@model CrowdfundingWebsites.Models.ViewModels.ForgetCompanyPasswordVm

@{
    string WebName = "忘記密碼";
    string WebsiteName = "忘記密碼";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@WebName</title>
    @Styles.Render("~/font/css")
    @Styles.Render("~/lib/css")
    @Styles.Render("~/Content/css")
</head>

<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid position-relative d-flex p-0">

            <!-- Sign In Start -->
            <div class="container-fluid">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <div class="bs-c-secondary rounded p-4 p-sm-5 my-4 mx-3" style="background-color: gray !important;">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div>
                                    <h3 class="bs-font-primary " style="color:white !important"><i class="fa fa-user-edit me-2"></i>@WebsiteName</h3>
                            </div>
                            </div>
                            <div class="form-floating mb-3">

                                @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", id = "floatingInput", placeholder = "搜尋" } })
                                <label for="floatingInput">帳號</label>
                                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-floating mb-4">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "floatingEmail", placeholder = "Email" } })
                                <label for="floatingPassword">Email</label>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">確認送出</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sign In End -->
        </div>




    }



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/lib/javascript")
    @Scripts.Render("~/javascript/init")
</body>
</html>
